<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Chai Garam</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'><link rel="stylesheet" href="static/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="chaigaram">
  <div class="chaigaram--cards">
    <div class="chaigaram--card" style="background-color:Black ;background-repeat: no-repeat;background-size: 100% 100%;">
      <h3>Chai Garam</h3>
      <div id="url">None</div>
      <p>Swipe left to open the article and Swipe right to view the next article</p>
    </div>

  
    <div class="chaigaram--card" style="background-image: url(https://akm-img-a-in.tosshub.com/indiatoday/images/story/202305/iphone_14_plus_price-sixteen_nine.jpg?VersionId=HE.s.ihH1TcDN8JmwE_032.2OD5ypmsm);background-repeat: no-repeat;background-size: 100% 100%;">
      <h3 >Amazon Great Indian Summer sale goes live for Prime members: Top deals on iPhones, OnePlus and other smartphones - India Today</h3>
      <div id="url">https://www.indiatoday.in/technology/news/story/amazon-great-indian-summer-sale-goes-live-for-prime-members-top-deals-on-iphones-oneplus-and-other-smartphones-2368311-2023-05-04</div>
      <p>Amazon is offering irresistible discounts on iPhone 14, iPhone 14 Plus and other Apple products including the Apple Watch.</p>
    </div>


  
    <div class="chaigaram--card" style="background-image: url(https://images.odishatv.in/uploadimage/library/16_9/16_9_5/recent_photo_1683170336.webp);background-repeat: no-repeat;background-size: 100% 100%;">
      <h3 >IPL 2023: Twitter banter continues as Punjab Kings troll Rohit for scoring duck, MI give befitting reply - OTV News</h3>
      <div id="url">https://odishatv.in/news/sports/ipl-2023-punjab-kings-troll-rohit-for-scoring-duck-mi-give-befitting-reply-203371</div>
      <p>Even though, Ishan Kishan and Suryakumar Yadav's spectacular show helped Mumbai Indians chase down a mammoth target of 215 in an encounter with Punjab Kings in Mohali on Wednesday, MI skipper Rohit Sharma continued with his bad form who was sent back to the p…</p>
    </div>


  
    <div class="chaigaram--card" style="background-image: url(https://timesofindia.indiatimes.com/photo/99974470/size-43012/99974470.jpg);background-repeat: no-repeat;background-size: 100% 100%;">
      <h3 >Virat Kohli and Anushka Sharma pose for selfie as they enjoy car ride in Delhi days after UGLY fight with Gautam Gambhir - Times of India</h3>
      <div id="url">https://timesofindia.indiatimes.com/videos/entertainment/hindi/virat-kohli-and-anushka-sharma-pose-for-selfie-as-they-enjoy-car-ride-in-delhi-days-after-ugly-fight-with-gautam-gambhir/videoshow/99974470.cms</div>
      <p>Anushka Sharma and Virat Kohli, who are currently in Delhi, stepped out of their home and went for a drive around the city. Taking to his Instagram handle, Indian cricket team's star batsman Virat Kohli dropped a picture wherein he and Anushka can be</p>
    </div>


  
    <div class="chaigaram--card" style="background-image: url(https://www.hindustantimes.com/ht-img/img/2023/05/04/1600x900/alia_bhatt_the_met_1683167074150_1683167074340.jpg);background-repeat: no-repeat;background-size: 100% 100%;">
      <h3 >Alia Bhatt is amazed, looks at exhibition in inside video from the Met. Watch - Hindustan Times</h3>
      <div id="url">https://www.hindustantimes.com/entertainment/bollywood/alia-bhatt-is-amazed-as-she-looks-at-the-stunning-exhibition-in-inside-video-from-the-met-watch-101683166942272.html</div>
      <p>Alia Bhatt was seen taking a tour of the Metropolitan Museum of Arts and checking out the Karl Lagerfeld: In Line of Beauty exhibit. | Bollywood</p>
    </div>


  
    <div class="chaigaram--card" style="background-image: url(https://www.livemint.com/lm-img/img/2023/05/04/600x338/Global_market_news_1683167442387_1683167442608.jpg);background-repeat: no-repeat;background-size: 100% 100%;">
      <h3 >Global market: SGX Nifty to US Fed meeting — key triggers for stock market today | Mint - Mint</h3>
      <div id="url">https://www.livemint.com/market/stock-market-news/global-market-sgx-nifty-to-us-fed-meeting-key-triggers-to-stock-market-today-11683167327806.html</div>
      <p>SGX Nifty today opened lower and went on to slide further downwards, signaling muted opening on Dalal Street today</p>
    </div>


  
    <div class="chaigaram--card" style="background-image: url(https://c.ndtvimg.com/2023-05/f8kev6ng_dhoni_625x300_03_May_23.jpg?im=FeatureCrop,algorithm=dnn,width=1200,height=675);background-repeat: no-repeat;background-size: 100% 100%;">
      <h3 >"Whether It's His Last Year...": Virender Sehwag Unhappy Over MS Dhoni Being Asked About Retirement .. - NDTV Sports</h3>
      <div id="url">https://sports.ndtv.com/ipl-2023/whether-its-his-last-year-virender-sehwag-fumes-over-ms-dhoni-being-asked-about-retirement-in-ipl-2023-4002173</div>
      <p>Virender Sehwag wasn't happy to see MS Dhoni being asked about his future in IPL.</p>
    </div>


  
    <div class="chaigaram--card" style="background-image: url(https://images.moneycontrol.com/static-mcnews/2022/10/infy-696x435.png);background-repeat: no-repeat;background-size: 100% 100%;">
      <h3 >Cognizant says revenue will decline in 2023, to lay off 3500 employees - Moneycontrol</h3>
      <div id="url">https://www.moneycontrol.com/news/business/cognizant-says-revenue-will-decline-in-2023-to-lay-off-3500-employees-10523261.html</div>
      <p>Cognizant will also give up 11 million sq feet in office space, or 80,000 seats, in large cities in India to help cut costs and boost margins, which are trending in the 15 percent range</p>
    </div>


  
    <div class="chaigaram--card" style="background-image: url(https://timesofindia.indiatimes.com/photo/msid-99973249,imgsize-41454.cms);background-repeat: no-repeat;background-size: 100% 100%;">
      <h3 >UP Municipal election 2023: CM Yogi Adityanath casts his vote during first phase of voting for urban body polls - Times of India</h3>
      <div id="url">https://timesofindia.indiatimes.com/videos/toi-original/up-municipal-election-2023-cm-yogi-adityanath-casts-his-vote-during-first-phase-of-voting-for-urban-body-polls/videoshow/99973249.cms</div>
      <p>Uttar Pradesh chief minister Yogi Adityanath voted during the first phase of voting for urban body polls. The first phase of UP Municipal election, which began today, is taking place in 37 districts. As per official figures, 2 crores 40 lakhs voters</p>
    </div>


  
    <div class="chaigaram--card" style="background-image: url(https://akm-img-a-in.tosshub.com/indiatoday/images/story/202305/ponniyin_selvan_2_box_office_collection_day_6-sixteen_nine.jpg?VersionId=lNxd0VsTH1vk541DLMOuEcq2gmcikmJ2);background-repeat: no-repeat;background-size: 100% 100%;">
      <h3 >Ponniyin Selvan 2 box office collection Day 6: Mani Ratnam's film sees a dip, but still earns Rs 8 crore - India Today</h3>
      <div id="url">https://www.indiatoday.in/movies/regional-cinema/story/ponniyin-selvan-2-box-office-collection-day-6-mani-ratnams-film-sees-a-dip-but-still-earns-rs-8-crore-2368277-2023-05-04</div>
      <p>Mani Ratnam's Ponniyin Selvan 2 is doing good business at the box office during weekdays. The film saw a considerable drop, yet it still puts up decent numbers.</p>
    </div>


  
    <div class="chaigaram--card" style="background-image: url(https://cdn.ndtv.com/common/images/ogndtv.png);background-repeat: no-repeat;background-size: 100% 100%;">
      <h3 >2 Terrorists Killed In Kashmir's Baramulla, 2nd Encounter In 24 Hours - NDTV</h3>
      <div id="url">https://www.ndtv.com/</div>
      <p>NDTV.com: India, Business, Bollywood, Cricket, Video and Breaking News</p>
    </div>


  
    <div class="chaigaram--card" style="background-image: url(https://cdn.telanganatoday.com/wp-content/uploads/2023/05/Nothing.jpg);background-repeat: no-repeat;background-size: 100% 100%;">
      <h3 >Nothing to release its Phone (2), to feature Snapdragon 8 Series - Telangana Today</h3>
      <div id="url">https://telanganatoday.com/nothing-to-release-its-phone-2-to-feature-snapdragon-8-series</div>
      <p>Nothing Phone (2) will be powered by Snapdragon's 8 Series processor and will also be available to purchase in the US for the first time</p>
    </div>


  
    <div class="chaigaram--card" style="background-image: url(https://cutewallpaper.org/21/space-background-1280x720/Download-1280x720-wallpaper-galaxy,-stars,-clouds,-space-.jpg);background-repeat: no-repeat;background-size: 100% 100%;">
      <h3 >On a May morning, fog engulfs Delhi-NCR - The Indian Express</h3>
      <div id="url">https://indianexpress.com/article/cities/delhi/fog-may-morning-summer-weather-8590351/</div>
      <p></p>
    </div>


  
    <div class="chaigaram--card" style="background-image: url(https://i.ytimg.com/vi/yTVxoMaMZtg/maxresdefault.jpg);background-repeat: no-repeat;background-size: 100% 100%;">
      <h3 >'Godfather of AI' steps down from Google - CBC News: The National</h3>
      <div id="url">https://www.youtube.com/watch?v=yTVxoMaMZtg</div>
      <p>Renowned AI pioneer Geoffrey Hinton has resigned from Google so he can speak more freely about the potential dangers of advanced artificial intelligence. He ...</p>
    </div>

</div>
</div>
<!-- partial -->
  <script src='https://hammerjs.github.io/dist/hammer.min.js'></script><script  src="static/script.js"></script>

</body>
</html>